body {

    font-family: 'Montserrat', sans-serif;
}



.heading {
    background-color: rgba(254, 252, 243, .9);
    border-radius: 15px;
    line-height: 2.5;
    font-weight: 600;

}

.otherCitySection {
    padding: 1.5rem;
    background-color: rgba(254, 252, 243, .9);
    border-radius: 15px;
}

.container-main {
    background-image: url(background.png);
    background-size: auto;
    background-repeat: repeat;
    background-position: center;
    padding: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}




/* .container-main {

    background-image: url(clouds.jpg);
    background-position: center;
    background-size: cover;
} */

@media screen and (max-width: 576px) {
    body {
        background-image: url(https://i.pinimg.com/originals/a4/31/7c/a4317cce6bc6ef8a3364570fa4059639.jpg);
        background-position: top;
        background-size: auto;

    }
}