body {
    background-image: url(clouds.jpg);
    background-position: top;
    background-size: cover;
}

.table-responsive {
    background-color: rgba(254, 252, 243, 0.7);
    border-radius: 15px;
    padding: 2rem;
}

/* .container-main {

    background-image: url(clouds.jpg);
    background-position: center;
    background-size: cover;
} */

@media screen and (max-width: 576px) {
    body {
        background-image: url(clouds.jpg);
        background-position: top;
        background-size: auto;

    }
}